<div class="animate__animated animate__fadeIn animate__fast">
  <h3>Por capital</h3>
  <hr />

  <div class="row">
    <div class="col">
      <app-pais-input
        (onEnter)="buscar($event)"
        placeholder="Buscar Capital..."
      >
      </app-pais-input>
    </div>
  </div>

  <hr />
  <div *ngIf="hayError" class="alert alert-danger">
    No se encontró nada con el término {{ termino }}
  </div>

  <div class="row">
    <div class="col">
      <app-pais-tabla [paises]="paises">asdasd</app-pais-tabla>
    </div>
  </div>
</div>
